# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Database
*.db
*.sqlite3
*.sqlite

# Environment variables
.env

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# Static Uploads
app/static/uploads/*
!app/static/uploads/.gitkeep
